html{
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #71A596;
}
/*CSS to try to make the site responsive*/
body{
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}
/*For the introduction div*/
body > #introduction{
  margin: auto;
  height: 70%;
  width: 70%;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  color: #40676E;
  font-family: 'Outfit', sans-serif;
  overflow: hidden;
}
body > #introduction > #info-footer{
    margin-bottom: 0;
}
