html{
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: white;
}
/*CSS to try to make the site responsive*/
body{
  height: 100%;
  width: 100%;
  margin: 0;
}
header{
  width: 100%;
  position: absolute;
  height: 30px;
  margin: 0;
}
header > #warning-header > p{
  margin: 0;
  height: 100%;
  width: 100%;
  color: white;
  font-family: 'Outfit', sans-serif;
  padding: 5px;
}
main{
  margin: 0 auto;
  height: 100%;
}
/*For the introduction div*/
body > main > #introduction{
  margin: auto;
  color: #40676E;
  font-family: 'Outfit', sans-serif;
}
body > #introduction > #info-footer{
    margin-bottom: 0;
}
footer{
  position: relative;
  float: bottom;
}
footer > p{
  color: #40676e;
}
