<!--JS-->
<script src="js/app.js"></script>
<!--For the header-->
<head id="import-header">
  <meta charset="utf-8">
  <meta name="author" content="Bui Bao Hoang">
  <meta name="description" content="A simple web application built to create a better way to communicate with autistic people. Made with HTML, CSS, Vanilla JS and MaterializeCSS">
  <!--MaterializeCSS-->
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!--MaterializeJS-->
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>Autism Helper</title>
  <!--Main CSS-->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/customizable.css">
  <!--Google Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap" rel="stylesheet">
  <script>
    if (localStorage.getItem('username') == undefined){
      console.log('new')
    }
    else{
      console.log('logged in')
    }
  </script>
</head>
